.marker-div-icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 12px;
}

.marker-div-icon.purple {
  background: #8d5a97;
}
.marker-div-icon.yellow {
  background: #f49015;
}
.marker-div-icon.red {
  background: red;
}
