.marker-div-icon {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.marker-div-icon.purple {
  background: #8d5a97;
}
.marker-div-icon.yellow {
  background: #f49015;
}
.marker-div-icon.red {
  background: #8c271e;
}
